.section {
    width: 100%;
    height: 7vh;
    /* margin-top: 2rem; */
    /* display: grid; */
    grid-template-columns: repeat(10, 1fr);
    text-align: center;
}

.section > div {
    border: 1px solid rgb(32, 160, 60);
    border-radius: 10%;
    display: table-cell;
    width: 40px;
    height: 40px;
    font-size: small;
    text-align: center;

    /* text-align: center; */
    /* flex: 1; */
    /* margin: 10%; */
}
.section > div:hover {
    cursor: pointer;
}

.disabled {
    display: table-cell;

    /* display: inline; */
    /* content: inherit; */
    width: 40px;
    height: 40px;
    background-color:white;
    font-size: small;
    text-align: center;

    /* text-overflow: ellipsis; */
    /* border-radius: 2px; */
}
.booked {
    background-color: #19a0d9;
}

.section .disabled:hover {
    cursor: not-allowed;
}

.input_field{
    margin-top: 1rem;
}